html, body {
    font-size: xx-large;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
div {padding: 0;
    margin: 0;}
div.row {
    height: 100%;
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

#preload-1 { background: url(../images/landing-down-1920.jpg) no-repeat -9999px -9999px; }
#preload-2 { background: url(../images/landing-left-1920.jpg) no-repeat -9999px -9999px; }
#preload-3 { background: url(../images/landing-up-1920.jpg) no-repeat -9999px -9999px; }

#section0 {
    background-color: black;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -moz-transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.picture-tile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.picture-tile:hover {
    color: #2b2b2b;
    cursor: pointer;
}

#projects {
    background-color: #816360ff;
}

#music {
    background-color: #6b712eff;
}

#partita {
    background-color: #6b0e17ff;
}

#cv {
    background-color: #223c78ff;
}

.white-text {
    color: #ffe7c3;
    font-family: 'Corben', cursive;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.clickable-div {
    /* This left intentionally blank */
}

img {
    object-fit: contain;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    z-index: 1;
}

.container-centered {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.arrow {
  width: 6px;
  height: 80px;
  margin: 5% auto;
  border-radius: 3px;
  background-color: white;
  background: linear-gradient(to bottom, rgba(255,255,255,0), white 75%);
  -webkit-animation: 2.5s soft-blink infinite alternate;
  animation: 2.5s soft-blink infinite alternate;
  position: relative;
  opacity: 0;
}

@-webkit-keyframes soft-blink {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

@keyframes soft-blink {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

.arrow:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -7px;
  border-bottom: 6px solid white;
  border-right: 6px solid white;
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}