html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
div {padding: 0;
    margin: 0;}
div.row {
    height: 100%;
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

#section0 {
    background-size: cover;
    background-image: url(../images/homepage.jpg);
}

#projects { background: #DDD; padding: 0; overflow: hidden;}
#music { background: #AAA; padding: 0;}
#partita { background: #777; padding: 0;}
#cv { background: #444; padding: 0;}
img {object-fit: contain;}